#===============================================================
# Configuration settings for Conjur POC environment
#===============================================================
				# set DAP_HOME to parent directory of this script
DAP_HOME="$( cd "$( dirname "${BASH_SOURCE[0]}" )/.." >/dev/null 2>&1 && pwd )"

# PLATFORM
# openshift -> configure for openshift
# kubernetes -> configure for kubernetes
export PLATFORM=openshift

# CONNECTED
# true -> scripts will build missing images assuming internet connectivity
# false -> scripts assume no internet connectivity
export CONNECTED=false

# NO_DNS
# true -> assumes no DNS support & adds entries to /etc/hosts
# false -> assumes DNS support & hostnames will resolve to IP addresses
export NO_DNS=false

# CONJUR_FOLLOWERS_IN_CLUSTER
# true -> run Followers in k8s/ocp cluster
# false -> authenticate to Follower running on Master host
export CONJUR_FOLLOWERS_IN_CLUSTER=true

#===============================================================
# Conjur Master Cluster settings - review & edit as needed
#===============================================================
export CONJUR_MASTER_HOST_NAME=
export CONJUR_MASTER_HOST_IP=
export CONJUR_MASTER_PORT=443
export CONJUR_FOLLOWER_PORT=444  # for follower on master host only
export CONJUR_MASTER_URL=https://$CONJUR_MASTER_HOST_NAME:$CONJUR_MASTER_PORT
export CONJUR_ACCOUNT=dev
export CONJUR_ADMIN_PASSWORD=Cyberark1	 # password to set for default admin user

#===============================================================
# Image tags in local docker daemon - precheck.sh validates if loaded or not
#===============================================================
export CONJUR_APPLIANCE_IMAGE=conjur-appliance:11.1.1
export CLI_IMAGE=conjurinc/cli5:latest
export HAPROXY_IMAGE=haproxy-dap:latest
export AUTHENTICATOR_CLIENT_IMAGE=cyberark/conjur-authn-k8s-client:latest
export TEST_APP_IMAGE=test-app:latest

################################################################
################################################################
# >>>>>>>>  Values below should not be changed <<<<<<<<<<
################################################################
################################################################

# Directory in which to write Master cert and seed file
export CACHE_DIR=$DAP_HOME/etc

export CONJUR_NAMESPACE_NAME=cyberark	# Cluster namespace for Follower, etc.
source $DAP_HOME/config/$PLATFORM.config

# add path to utility functions
export PATH=$DAP_HOME/bin:$PATH

# docker network name for conjur master cluster
export CONJUR_NETWORK=conjurnetwork
export CONJUR_AUDIT_VOLUME=cybraudit   # shared volume for audit logs
export CONJUR_NGINX_VOLUME=cybrnginx   # shared volume for nginx logs

###########################################################
# Alt-names for conjur master cert
export MASTER_ALTNAMES="$CONJUR_MASTER_HOST_NAME,conjur-master"

# Alt-names for conjur follower cert
# Followers can run on master host and in cluster
# URL service name for authn-k8s will be to one or the other.
export FOLLOWER_ALTNAMES="$CONJUR_MASTER_HOST_NAME"
export CONJUR_FOLLOWER_SERVICE_NAME=$CONJUR_MASTER_HOST_NAME:$CONJUR_FOLLOWER_PORT
if $CONJUR_FOLLOWERS_IN_CLUSTER; then
    export CONJUR_FOLLOWER_SERVICE_NAME=conjur-follower.$CONJUR_NAMESPACE_NAME.svc.cluster.local
    export FOLLOWER_ALTNAMES="$CONJUR_MASTER_HOST_NAME,$CONJUR_FOLLOWER_SERVICE_NAME"
fi

export CONJUR_MASTER_CONTAINER_NAME=conjur1
export CONJUR_STANDBY1_NAME=conjur2
export CONJUR_STANDBY2_NAME=conjur3
export HAPROXY_CONTAINER_NAME=conjur-haproxy
export CONJUR_FOLLOWER_CONTAINER_NAME=conjur-follower
export CLI_CONTAINER_NAME=conjur-cli
export CONJUR_MASTER_PGSYNC_PORT=5432
export CONJUR_MASTER_PGAUDIT_PORT=1999
export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOST_NAME:$CONJUR_MASTER_PORT
export CONJUR_VERSION=5

export MASTER_CERT_FILE=$CACHE_DIR/conjur-$CONJUR_ACCOUNT.pem
export FOLLOWER_CERT_FILE=$CACHE_DIR/conjur-follower-$CONJUR_ACCOUNT.pem
export FOLLOWER_SEED_FILE=$CACHE_DIR/follower-seed.tar

MINIKUBE=${MINIKUBE:-false}	# set MINIKUBE to false if undefined
