############################################################
# Configuration settings for Conjur POC environment
############################################################
# PLATFORM
export PLATFORM=openshift

# CONNECTED
# false -> scripts assume no internet connectivity
export CONNECTED=false

# NO_DNS
# true -> assumes no DNS support, adds entries to /etc/hosts
export NO_DNS=true

# CONJUR_FOLLOWERS_IN_CLUSTER
# true -> run Followers in cluster
# false -> authenticate to Follower running on Master host
export CONJUR_FOLLOWERS_IN_CLUSTER=true

############################################################
#              Conjur Master Cluster settings
############################################################

export CONJUR_MASTER_HOST_NAME=conjur-master-vbx
export CONJUR_MASTER_HOST_IP=192.168.99.100
export CONJUR_MASTER_PORT=30443
# CONJUR_FOLLOWER_PORT is for follower on master host only - not followers in cluster
export CONJUR_FOLLOWER_PORT=30444
export CONJUR_ACCOUNT=dev
export CONJUR_ADMIN_PASSWORD=Cyberark1
export CONJUR_APPLIANCE_IMAGE=conjur-appliance:10.10
export CLI_IMAGE_NAME=conjurinc/cli5:latest

# docker network name for conjur master cluster
export CONJUR_NETWORK=conjurnetwork
export CONJUR_AUDIT_VOLUME=cybraudit   # shared volume for audit logs
export CONJUR_NGINX_VOLUME=cybrnginx   # shared volume for nginx logs

# Cluster namespace (project) for Conjur Follower cluster role, etc.
export CONJUR_NAMESPACE_NAME=cyberark

###########################################################
# Alt-names for conjur master cert
export MASTER_ALTNAMES="$CONJUR_MASTER_HOST_NAME"

# Alt-names for conjur follower cert - followers may run on master host or in cluster
if $CONJUR_FOLLOWERS_IN_CLUSTER; then
    export CONJUR_FOLLOWER_SERVICE_NAME=conjur-follower.$CONJUR_NAMESPACE_NAME.svc.cluster.local
else
    export CONJUR_FOLLOWER_SERVICE_NAME=$CONJUR_MASTER_HOST_NAME:$CONJUR_FOLLOWER_PORT
fi
export FOLLOWER_ALTNAMES="$CONJUR_MASTER_HOST_NAME,$CONJUR_FOLLOWER_SERVICE_NAME"
###########################################################
# Values below rarely need changing

export CONJUR_MASTER_CONTAINER_NAME=conjur1
export CONJUR_STANDBY1_NAME=conjur2
export CONJUR_STANDBY2_NAME=conjur3
export HAPROXY_CONTAINER_NAME=conjur-haproxy
export CONJUR_FOLLOWER_CONTAINER_NAME=conjur-follower
export CLI_CONTAINER_NAME=conjur-cli
export CONJUR_MASTER_PGSYNC_PORT=5432
export CONJUR_MASTER_PGAUDIT_PORT=1999
export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOST_NAME:$CONJUR_MASTER_PORT
export CONJUR_VERSION=5

# location to cache master cert and seed file for Follower configuration
export CACHE_DIR=~/conjur-etc
export MASTER_CERT_FILE=$CACHE_DIR/conjur-master-$CONJUR_ACCOUNT.pem
export FOLLOWER_CERT_FILE=$CACHE_DIR/conjur-follower-$CONJUR_ACCOUNT.pem
export FOLLOWER_SEED_FILE=$CACHE_DIR/follower-seed.tar
