############################################################
# OPENSHIFT CONFIG 
############################################################

# DOCKER & CLUSTER
export KUBECONFIGDIR=~/.kube				# directory for kubeconfig
#export KUBECONFIG=$KUBECONFIGDIR/config		# path to kubeconfig file
export DOCKER_REGISTRY_URL=

# USERS for OpenShift RBAC
export CLUSTER_ADMIN_USERNAME=system:admin	# Cluster admin role
export DAP_ADMIN_USERNAME=dapadmin		# DAP namespace admin role
export DEVELOPER_USERNAME=developer		# Developer role

###########################################################
# Values below should not be changed
###########################################################

# DAP CLUSTER ARTIFACTS
export CONJUR_CONFIG_MAP=conjur-config		# conjur configuration data
export TEST_APP_NAMESPACE_NAME=testapps		# namespace for apps
export AUTHENTICATOR_ID=dappoc	 		# unique identifier for the k8s cluster

###################
# Follower deployment image tags
export CONJUR_APPLIANCE_REG_IMAGE=$DOCKER_REGISTRY_URL/$CONJUR_NAMESPACE_NAME/$CONJUR_APPLIANCE_IMAGE

###################
# K8s test app deployment image tags
export TEST_APP_REG_IMAGE=$DOCKER_REGISTRY_URL/$TEST_APP_NAMESPACE_NAME/test-app:latest
export AUTHENTICATOR_CLIENT_REG_IMAGE=$DOCKER_REGISTRY_URL/$TEST_APP_NAMESPACE_NAME/conjur-authn-k8s-client:latest

export CLI=oc
export CONJUR_SERVICEACCOUNT_NAME=conjur-cluster
export CONJUR_FOLLOWER_COUNT=1
export IMAGE_PULL_POLICY=IfNotPresent
export FOLLOWER_CONFIG_MAP=follower-config
export FOLLOWER_BOOTSTRAP_SECRET=follower-bootstrap
export APP_CONFIG_MAP=$TEST_APP_NAMESPACE_NAME-config
export CONJUR_AUTHENTICATORS=authn,authn-k8s/$AUTHENTICATOR_ID
export CONJUR_CLUSTER_LOGIN="host/conjur/authn-k8s/$AUTHENTICATOR_ID/apps/$CONJUR_NAMESPACE_NAME/service_account/$CONJUR_SERVICEACCOUNT_NAME"

# if CONJUR_SEED_FILE_URL is blank, seed-file will be pulled from FOLLOWER_CONFIG_MAP, not the Master
export CONJUR_SEED_FILE_URL=""
#export CONJUR_SEED_FILE_URL=$CONJUR_MASTER_URL/configuration/$CONJUR_ACCOUNT/seed/follower
