############################################################
# OPENSHIFT CONFIG 
############################################################

# DOCKER & CLUSTER
export KUBECONFIGDIR=~/Conjur/dap-demo-env/oc-kube  # directory for kubeconfig
export KUBECONFIG=$KUBECONFIGDIR/config		# path to kubeconfig file
export DOCKER_REGISTRY_URL=172.30.1.1:5000	# host & port of registry

# Extra stuff for minishift
export PATH="/Users/josephhunt/Conjur/dap-demo-env/.minishift/cache/oc/v3.9.0/darwin:$PATH"
export DOCKER_TLS_VERIFY="1"
export DOCKER_HOST="tcp://192.168.99.100:2376"
export DOCKER_CERT_PATH="/Users/josephhunt/Conjur/dap-demo-env/.minishift/certs"

# USERS for OpenShift RBAC
export CLUSTER_ADMIN_USERNAME=system:admin	# Cluster admin role
export FOLLOWER_ADMIN_USERNAME=developer	# DAP Follower admin role
export DEVELOPER_USERNAME=developer		# Developer role

# DAP CLUSTER ARTIFACTS
export CONJUR_CONFIG_MAP=conjur-config		# conjur configuration data
export TEST_APP_NAMESPACE_NAME=test-apps	# namespace for apps
export AUTHENTICATOR_ID=dev-aus 		# unique identifier for the k8s cluster

###########################################################
# Values below should not be changed
###########################################################

export CLI=oc
export CONJUR_SERVICEACCOUNT_NAME=conjur-cluster
export CONJUR_FOLLOWER_COUNT=1
export AUTHENTICATOR_CLIENT_IMAGE=cyberark/conjur-authn-k8s-client:latest
export SEED_FETCHER_IMAGE=seed-fetcher:latest
export IMAGE_PULL_POLICY=IfNotPresent
export APP_CONFIG_MAP=$TEST_APP_NAMESPACE_NAME-config
export CONJUR_AUTHENTICATORS=authn,authn-k8s/$AUTHENTICATOR_ID
export CONJUR_CLUSTER_LOGIN="host/conjur/authn-k8s/$AUTHENTICATOR_ID/apps/$CONJUR_NAMESPACE_NAME/service_account/$CONJUR_SERVICEACCOUNT_NAME"
