############################################################
# OPENSHIFT CONFIG 
############################################################

# DOCKER & CLUSTER CLI
export KUBECONFIGDIR=~/Conjur/dap-demo-env/oc-kube
export KUBECONFIG=$KUBECONFIGDIR/config
export CLI=oc
# from ../minishift.config created by write_minishift_config_vars.sh script
export PATH="/Users/josephhunt/Conjur/dap-demo-env/.minishift/cache/oc/v3.9.0/darwin:$PATH"
export DOCKER_TLS_VERIFY="1"
export DOCKER_HOST="tcp://192.168.99.100:2376"
export DOCKER_CERT_PATH="/Users/josephhunt/Conjur/dap-demo-env/.minishift/certs"
export DOCKER_REGISTRY_URL=172.30.1.1:5000
export DOCKER_EMAIL="admin@cyberark.com"

# USERS for RBAC
export CLUSTER_ADMIN_USERNAME=system:admin
export FOLLOWER_ADMIN_USERNAME=developer
export DEVELOPER_USERNAME=developer

# DAP CLUSTER ARTIFACTS
export TEST_APP_NAMESPACE_NAME=testapp
export CONJUR_CONFIG_MAP=conjur-config
export APP_CONFIG_MAP=$TEST_APP_NAMESPACE_NAME-config
export CONJUR_SERVICEACCOUNT_NAME=conjur-cluster
export CONJUR_FOLLOWER_COUNT=1

# DAP AUTHN DEFINITIONS
# the Authenticator ID uniquely identifies the authn endpoint for this cluster
export AUTHENTICATOR_ID=dev-ocp
export AUTHENTICATOR_CLIENT_IMAGE=cyberark/conjur-authn-k8s-client:latest
export SEED_FETCHER_IMAGE=seed-fetcher:latest
export IMAGE_PULL_POLICY=IfNotPresent
export CONJUR_AUTHENTICATORS=authn,authn-k8s/$AUTHENTICATOR_ID
# Login name for Conjur Followers
export CONJUR_CLUSTER_LOGIN="host/conjur/authn-k8s/$AUTHENTICATOR_ID/apps/$CONJUR_NAMESPACE_NAME/service_account/$CONJUR_SERVICEACCOUNT_NAME"
